		* {
			box-sizing: border-box;
		}
		
		.video-background {
			background: #fff;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -99;
		}

		@font-face { 
			font-family: "circular"; 
			src:url("lineto-circular-book.ttf") format("ttf"),
				url("lineto-circular-book.woff") format("woff")
			} 

		@font-face { 
			font-family: "TW Cen MT"; 
			font-weight: bold; 
			src:url("TW-Cen-MT-Bold.ttf") format("ttf"),
				url("TW-Cen-MT-Bold.woff") format("woff") 
			}


		.video-foreground,
		.video-background iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
		}
		
		#vidtop-content {
			top: 0;
			color: #fff;
			background: rgba(30, 70, 200, 0.5);
		}
		
		



		.spacemode #vidtop-content {
			background: rgba(0, 0, 0, 0.55);
		}
		
		.vid-info {
			position: absolute;
			top: 0;
			right: 0;
			width: 33%;
			background: rgba(0, 0, 0, 0.3);
			color: #fff;
			padding: 1rem;
			font-family: Avenir, Helvetica, sans-serif;
		}
		
		.vid-info h1 {
			font-size: 2rem;
			font-weight: 700;
			margin-top: 0;
			line-height: 1.2;
		}
		
		.vid-info a {
			display: block;
			color: #fff;
			text-decoration: none;
			background: rgba(0, 0, 0, 0.5);
			transition: .6s background;
			border-bottom: none;
			margin: 1rem auto;
			text-align: center;
		}
		
		.mobilewarning {
			display: none;
		}
		
		.mobile-only {
			display: none;
		}
		
		@media only screen and (max-device-width: 480px) {
			.mobile-only {
				display: block;
			}
			.mobilewarning {
				display: block;
			}
			.ybile {
				overflow: hidden;
			}
			body {
				font-size: 10px;
			}
			#soundcloud_player_iframe {
				max-width: 100%;
			}
			#vcontrols {
				left: 0;
				border-top-right-radius: 10px;
			}
			#vidtop-content {
				padding-bottom: 100px;
			}
			.video-background {
				background: url("mbg.jpg") white;
			}
			.video-foreground {
				display: none;
			}
			.spacemode .video-foreground {
				display: block;
			}
		}
		
		@media (min-aspect-ratio: 16/9) {
			.video-foreground {
				height: 300%;
				top: -100%;
			}
		}
		
		@media (max-aspect-ratio: 16/9) {
			.video-foreground {
				width: 300%;
				left: -100%;
			}
		}
		
		@media all and (max-width: 600px) {
			.vid-info {
				width: 50%;
				padding: .5rem;
			}
			.vid-info h1 {
				margin-bottom: .2rem;
			}

		}
		
		@media all and (max-width: 500px) {
			.vid-info .acronym {
				display: none;
			}

		}


				.donate button,
				.btn {
					background: #4267b2;
					padding: 7px 15px;
					border: none;
					border-radius: 5px;
					color: #fffdd2;
					margin: 0 10px;
					font-weight: bold;
					text-transform: initial;
					text-decoration: none;
				}
				
				.donate button:hover,
				.btn:hover {
					background: #365899;
				}
				
				#support {
					display: none;
				}


			.thankyou {
				max-width: 600px;
				margin: 0 auto;
				padding: 20px;
				margin-top: 5rem;
				color: white;
				font-family: "circular";
				font-weight: 100;
			}

			
			.thankyou a,
			.thankyou a:visited {
				color: white;
			}

			.airport-info {
				max-width:370px;
				font-weight:100;
				margin-left:auto;
				margin-right:auto;
				font-family:"circular";
				text-transform:none;
				line-height:1.4em;
			} 
			
			#live {
				display: flex;
				align-items: center;
				position: fixed;
				top: 20px;
				left: 20px;
				font-size: 18px;
				letter-spacing:2px;
				font-weight:700;
				text-transform: uppercase;
				color: #fff;
				z-index: 101;
			}
			.isMobile #live {
				    justify-content: center;
					width: 100%;
					left: 0;
					top: 0;
					padding: 20px 0;
					background: linear-gradient( to bottom, rgba(16, 51, 130, 0.75) 80%, rgba(255, 0, 0, 0));
					
			}

			.isMobile #noise {
				display:none;
			}

			#noise {
				display: flex;
				position: absolute;
				top: 20px;
				right: 20px;
				font-size: 13px;
				letter-spacing:2px;
				font-weight:100;
				text-transform: uppercase;
				color: #fff;
			}

			#live .dot {
				animation: pulse 2s infinite alternate-reverse;
				width: 10px;
				height: 10px;
				border-radius: 5px;
				background: red;
				margin-right: 10px;
		}

			@-webkit-keyframes pulsate {
			    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
			    50% {opacity: 1.0;}
			    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
			}

			#vcontrols {
				position: fixed;
				bottom: 0;
				right: 0;
				padding: 20px;
				background: white;
				border-top-left-radius: 10px;
				min-width: 280px;
				color: #333;
				z-index: 2;
				padding-top: 30px;
			}
			
			.playpause {
				position: absolute;
				top: -25px;
				width: 50px;
				left: calc(50% - 25px);
				background: white;
				border-radius: 100%;
				height: 50px;
				box-shadow: 0 0 10px rgba(0, 0, 0, .5);
				display: flex;
				overflow: hidden;
				border: 2px solid white;
				outline: none;
				cursor: pointer;
			}
			
			.nxt {
				position: absolute;
				top: -15px;
				width: 30px;
				left: calc(50% + 27px);
				background: white;
				border-radius: 100%;
				height: 30px;
				box-shadow: 0 0 10px rgba(0, 0, 0, .5);
				display: flex;
				overflow: hidden;
				border: 2px solid white;
				outline: none;
				padding: 0;
				justify-content: center;
				line-height: 100%;
				cursor: pointer;
			}
			
			.playpause[data-state="paused"] {
				border: 2px solid #ff6c6c;
				box-shadow: 0 0 10px rgba(255, 22, 22, .5);
			}
			
			.playpause button {
				background: white;
				border: 0;
				margin: 0;
				padding: 0;
				fill: #333;
				outline: none;
				cursor: pointer;
			}
			
			#vcontrols div:nth-child(2) {
				margin-bottom: 4px;
			}
			
			#vcontrols span {
				float: left;
			}
			
			#vcontrols input {
				width: 100px;
				float: right;
			}
			
			.current {
			}
			
			a,
			a:visited {
				color: #fff;
				
			}


			a.fb-xfbml-parse-ignore {
				color: #fff;
				text-decoration:none;
				letter-spacing:1px;
			}
			
			.ybile {
				color: #fff;
				font-family: "TW Cen MT", "circular", sans-serif;
				text-align: center;
				line-height: 1.5em;
				padding-top: 6em;
				font-weight:700;
				padding-bottom: 10em;
				text-transform: uppercase;
				text-shadow: 0 0 40px rgba(0, 0, 0, 0.3)
			}
			
			.ybile h1 {
				margin-bottom: 0;
				margin-top: 0;
			}
			
			.ybile-r1 {
				font-size: 3.5em;
				font-weight: 400;
				line-height: 1.1em;
				font-family: Lora;
				font-style: italic;
				display: inline-block;
				position: relative;
				text-transform: lowercase;
			}
			
			.ybile-r2 {
				font-size: 4.0em;
				line-height: 1.2em;
				font-weight:bold;
				letter-spacing:7px;
				max-width:450px;
				margin-left:auto;
				margin-right:auto;
			}
			
			.ybile-r3 {
				font-weight: 100;
				font-size: 1.1em;
				line-height: 2.5em;
				letter-spacing: 7px;
				text-transform:uppercase;
				font-family:"circular";
			}
			
			.ybile-r1:before,
			.ybile-r1:after {
				background: url(http://tobiasahlin.com/images/typesource/arrow.svg) no-repeat center center/5em 0.5em;
				content: "";
				left: -5.8em;
				position: absolute;
				width: 5em;
				height: 1.25em;
			}
			
			.ybile-r1:after {
				left: auto;
				right: -5.8em;
				-webkit-transform: scaleX(-1);
				transform: scaleX(-1);
			}
			
			#picker {
				display: flex;
				justify-content: center;
				margin-top: 3rem;
				flex-wrap: wrap;
				padding: 0;
				font-weight: 100;
				font-size: 0.8em;
				line-height: 1.5em;
				letter-spacing: 1.5px;
				text-transform:uppercase;
				font-family:"circular";
			}
			
			ul#picker li {
				width: 140px;
				background: rgba(0, 20, 50, .5);
				border-radius: 100px;
				height: 140px;
				display: flex;
				align-content: center;
				align-items: center;
				justify-content: center;
				margin: 10px;
				text-align: center;
				cursor: pointer;
				transition: all 0.2s ease;
				padding: 10px;
			}
			
			#picker li.active {
				border: 3px solid rgb(214, 211, 163);
			}
			
			#picker li a,
			#picker li a:visited {
				color: #fff;
			}
			
			#picker li:hover {
				transform: translateY(-10px);
				box-shadow: 0 10px 10px rgba(109, 151, 204, 0.71);
			}
			
			h1 {
				text-align: center;
				letter-spacing:2px;
				font-family:"TW Cen MT", "circular", sans-serif;
				font-weight:bold;
			}
			
			body {
				font-family: "circular";
				margin: 0;
				padding: 0;
			}
			
			.clearfix:after {
				visibility: hidden;
				display: block;
				font-size: 0;
				content: " ";
				clear: both;
				height: 0;
			}
			
			.clearfix {
				display: inline-block;
			}
			/* start commented backslash hack \*/
			
			* html .clearfix {
				height: 1%;
			}
			
			.clearfix {
				display: block;
			}
			/* close commented backslash hack */